# Byte-compiled / optimized / DLL file


# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder

*.exe
*.log
*.xml
*.wdb
*.ini
*.cmd*
*.xmsgs
*.prj
*.lso
*.ng*
*.stx
*.syr
*.xst*
*.xrpt
*.htm*
*.gise
iseconfig
isim
xst
_ngo
xlnx_auto*
*.b*
*.d*
*.p*
*.n*
*.t*
*.x*
*.csv
*.m*
*.sch
*.jhd
*.u*
